@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-light-rgb: 240, 240, 240; /* Light grey for light mode */
  --background-dark-rgb: 20, 20, 20; /* Dark grey for dark mode */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-light-rgb: 20, 20, 20; /* Dark grey for dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-light-rgb)); /* Apply light background color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
